<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Articles Management</h2>
    <button class="btn btn-primary rounded-pill " (click)="showAddArticleModal = true">
      <mat-icon class="" >add</mat-icon> Add Article
    </button>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Likes</th>
            <th>Comments</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let article of articles">
            <td>{{article.title}}</td>
            <td>{{article.authorName}}</td>
            <td>{{article.createdAt | date}}</td>
            <td>{{article.likes}}</td>
            <td>{{article.comments.length}}</td>
            <td>
              <button class="btn btn-sm btn-icon text-primary me-2" (click)="editArticle(article)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="btn btn-sm btn-icon text-danger" (click)="deleteArticle(article)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
